<h1 class="container">Tabla con todas las personas</h1>
<button mat-raised-button (click)="getPersons()" color="warn" class="botonTodos">Mostrar Todos</button>
<br>

<div class="container">
  <form class="example-form">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput #inputId>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonsById(inputId.value)" color="warn" class="boton">Buscar ID</button>
      <br>
      <mat-form-field class="example-full-width"  >
        <mat-label>Nombre</mat-label>
        <input matInput #inputNombre>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonByName(inputNombre.value)" color="warn" class="boton">Buscar Nombre</button>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput #inputApellido>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonByLastName(inputApellido.value)" color="warn" class="boton">Buscar Apellido</button>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput #inputFecha>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonByDate(inputFecha.value)" color="warn" class="boton">Buscar Fecha</button>
    </p>
  </form>

</div>

<br>

<div class="container">

  <div class="inContainer">

    <table class="tabla">
      <thead>
      <tr>
        <th scope="col">Índice</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">ID</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of personsList; index as i">
        <th scope="row">{{i + 1}}</th>
        <th scope="row">{{person.nombrePersona}}</th>
        <th scope="row">{{person.apellidoPersona}}</th>
        <th scope="row">{{person.fechaNacimiento}}</th>
        <th scope="row">{{person.idPersona}}</th>
      </tr>
      </tbody>
    </table>

  </div>

</div>


