<br>
<h1 class="container">Inicio</h1>
<button mat-raised-button (click)="mostrarTodos()" color="warn" class="botonTodos">Mostrar Todos</button>
<br>
<div class="container">
  <form class="example-form">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput #inputId>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonsById(inputId.value)" color="warn" class="boton">Buscar ID</button>
      <br>
      <mat-form-field class="example-full-width"  >
        <mat-label>Nombre</mat-label>
        <input matInput #inputNombre>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonByName(inputNombre.value)" color="warn" class="boton">Buscar Nombre</button>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput #inputApellido>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonByLastName(inputApellido.value)" color="warn" class="boton">Buscar Apellido</button>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput #inputFecha>
      </mat-form-field>
      <button mat-raised-button (click)="getPersonByDate(inputFecha.value)" color="warn" class="boton">Buscar Fecha</button>
    </p>
  </form>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


