<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="opened" >

    <mat-toolbar style="background-color: #FFC200">
      <span>Menu Content</span>
    </mat-toolbar>

    <a mat-button routerLink="">Inicio</a>
    <br>
    <a mat-button routerLink="search">Buscar</a>
    <br>
    <a mat-button routerLink="insert">Ingresar</a>
    <br>
    <a mat-button routerLink="delete">Borrar </a>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">

      <span>
        <mat-icon (click)="opened=!opened" >reorder</mat-icon>
        CRUD Angular-SpringBoot
      </span>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
