<mat-dialog-content class="container">
  <mat-icon mat-dialog-close class="positionIcon">close</mat-icon>

  <h1>Edita los campos</h1>
  <p> ID: {{data.id}}</p>

  <form class="example-form">

    <p>
      <mat-form-field class="example-full-width"  >
        <mat-label>Nombre</mat-label>
        <input matInput #inputNombre>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput #inputApellido>
      </mat-form-field>
    </p>

    <mat-form-field style="width: 180px">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" #inputFecha>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>



  </form>

  <br>

  <button class="container" mat-raised-button color="warn" mat-dialog-close (click)="putPerson(data.id, inputNombre.value, inputApellido.value, inputFecha.value)">Ingresar</button>

</mat-dialog-content>
